.about-container {
    display: flex;
    flex-direction: row-reverse;
    margin-right: 13vw;
    margin-bottom: 10vh;
    margin-left: 18vw;
    padding-top: 7vw;
}

.about-container .profile-photo {
    margin-left: 50px;
    width: 200rem;
    height: 60vw;
}

.profile-photo .heading {
    font-size: 25px;
    font-weight: 500;
    letter-spacing: 1.12px;
    margin-top: 130px;
    margin-bottom: 20px;
    color: palevioletred;
}

.profile-photo .img {
    width: 100%;
    z-index: -3;
}

.profile-photo .name {
    font-size: 8vw;
    font-weight: 700;
    line-height: 8vw;
    position: relative;
    bottom: 50vw;
    left: 95%;
    width: 2vw;
    overflow-wrap: break-word;
    color: #fff;
    text-transform: uppercase;
    z-index: 0;
}


.about-container .aboutMe-text {
    font-size: 18px;
    font-weight: 400;
    letter-spacing: 1.28px;
    line-height: 2rem;
    height: fit-content;
}

.about-container .aboutMe-text h3 {
    color: #fff;    
    font-size: 36px;
    font-weight: 500;
    margin-bottom: 20px;
}

.about-container .aboutMe-text .resume {
    color: palevioletred;
    width: fit-content;
    padding: 2px 5px;
    border: 1px solid rgb(0, 0, 0);
    border-bottom: 3px solid palevioletred;
    transition: all 0.8s ease-in-out;
}

.about-container .aboutMe-text .resume:hover {
    border: 1px solid rgba(216, 112, 147, 0.6);
    border-radius: 20px;
    box-shadow: 0 5px 25px 0.5px rgba(216, 112, 147, 0.5);
    border-bottom: 3px solid palevioletred;
}

@media screen and (max-width: 1040px) {
    .about-window {
        padding: 10vw;
        padding-top: 20vw;
    }

    .about-container {
        flex-direction: column-reverse;
        align-items: center;
        margin: 0;
    }

    .about-container .profile-photo {
        margin: 0;
        width: 100%;
        height: 110vw;
        padding: 20px;
        display: flex;
        flex-direction: column;
    }
    
    .profile-photo .heading {
        font-size: 20px;
        margin-top: 40px;
    }

    .profile-photo .img {
        z-index: -2;
    }

    .profile-photo .name {
        font-size: 15vw;
        line-height: 15vw;
        bottom: 90vw;
        z-index: -1;
    }
}
