.contact-window {
    padding: 12vh 12vw;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.contact-window h1 {
    color: #fff;
    font-size: 50px;
}

.contact-window p {
    font-size: 16px;
    letter-spacing: 1px;
    word-spacing: 2px;
    margin-bottom: 50px;
}

.contact-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
}

.contact-wrapper-left {
    width: 50%;
    height: 100%;
}

.contact-wrapper-right {
    width: 50%;
}

.contact-wrapper-right form {
    padding-left: 20px;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: baseline;
}

.contact-wrapper-right form input, textarea {
    background-color: transparent;
    border: 1px solid rgba(255, 255, 255, 0.8);
    border-radius: 6px;
    margin-bottom: 25px;
    padding-left: 15px;
    font-size: 18px;
    width: 100%;
    transition: 0.3s ease-in-out;
    outline: none;
}

.contact-wrapper-right form input {
    height: 50px;
}

.contact-wrapper-right form input:focus, textarea:focus {
    border: 2px solid #fff;
    box-shadow: 0 0 18px 2px rgba(255, 255, 255, 0.6);
}

.contact-wrapper-right form textarea {
    padding-top: 12px;
}


@media screen and (max-width: 1040px), (max-height: 550px) {
    .contact-window {
        padding-top: 100px;
    }

    .contact-wrapper-left {
        display: none;
    }

    .contact-wrapper-right {
        width: 100%;
    }

    .contact-wrapper-right form {
        padding-left: 0;
    }
}